body {
    direction: rtl;
    background-image: url('../image/snowflakes-1236247_960_720.jpg');
    background-size:cover;
    display:block;
}

#container {
    width:700px;
    height:850px;
    margin:0 auto;
    background-color:#f7f3f7;
    border: solid;
    border-color:#7a727c;
    padding:30px;
 }

h1 {
    text-align:center;
    color:#6d5d6d;
   
}


h2 {
    color:#6d5d6d;

}


#facebook {

    list-style-image: url('../image/facebook-logotype-button.png');
}


#facebook:hover {
        list-style-image: url('../image/facebook-logotype-button_BLUE.png');
        color: blue;
    }

#instagram {
    list-style-image: url('../image/instagram-big-logo.png');

}

#instagram:hover {
    list-style-image: url('../image/instagram-big-logo_blue.png');
    color: blue;

}

#gmail {
   list-style-image: url('../image/envelope.png');


}

#gmail:hover {
    list-style-image: url('../image/envelope_blue.png');    
    color: blue;

}

