@import url(//fonts.googleapis.com/css?family=Heebo:400,500,700&subset=hebrew);
@import url(//fonts.googleapis.com/css?family=Roboto:400,500,700&subset=english);
body 
{
    direction:rtl;
   
}

#container {
    margin:auto 0;
    width:960px;
}

ul
{
    margin-right:auto;
    list-style:none;
    display:block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#000000;
    position: fixed;
    top: 0;
    width: 100%;
    font-size:20px;
    font-family: 'Heebo';
    
}

nav ul li
{
    display:inline-block;

}
nav ul li a
{
    display: block;

    background-color:#000000;
    color: white;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover
{
    background-color: #511a53;
}

nav ul li a:active
{
    background-color:#3d3a57;
}

.active {
    background-color:#a26aa5;
}


.myFilm
{    
     display: block;
     width: 100%;
     height: 100%; 

}

#film {
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	overflow: hidden;
}

#film > video {
       
     top: 0;
     left: 0;
     width: 100%;
     height:40%;
    }


.text{
    text-align:center;
}




h1 {
    margin-top:45px;
    font-size: 40px;
    font-family: 'Heebo';
    text-align:center;
}

#h1 {
    font-family: Roboto;
    margin: 90px;


}

#h2{
    font-family: Roboto;
}

h2{
    font-size:30px;
    text-decoration:dashed;
    font-family: 'Heebo';
    text-align:center;
    margin:20px;
}

h3{
    font-size:27px;
    text-decoration:dashed;
    font-family: 'Heebo';
    text-align: right;
}

#visual{
 text-align:right;
}
p{
    font-size:25px;
    font-family: 'Heebo';
}

p2{
    margin:20px;
}

#black {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color:black;
    text-align:center;
    text-decoration:none;
    padding-top:20px;
    padding-bottom:20px;
}

#link{
    color:#ffffff;
}


#full {
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height:40%;

}

.main {
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    position:absolute;
    top:500px;
    height:auto;
    width:100%;
}
.main2{
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
    position:absolute;
    top:360px;
    height:auto;
    width:100%;
}

span.gallery {

    position:relative;
    font-size:26px;


}

span.gallery:hover {
    
    font-size:30px;

}

span.gallery.img:hover {
    
    width:500px;

}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 25px;
    text-align: center;
}

.text3{

    width:90%;
    padding-right:50px;
    padding-left:50px;
}

.divBlock{
    width: 100%;
    display: block;
    position:center;

}

#image2{
   text-align:center;
   display:block;
   position:relative;
}

#image2:hover{

    width:80%;
    text-align:center;
    
}


#feedback-page{
	text-align:center;
}
/* form ---------------------------------- */

#form-main{
	width:100%;
	float:left;
	padding-top:0px;
}

#form-div {
	background-color:#000000;
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;

	float: left;
	left: 50%;
	position: absolute;
    margin-top:30px;
	margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#email:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 30px 30px;
    background-position: 11px 8px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button{
	font-family:'Heebo';
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #9d3d7d;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}





